name: first_workflow
on: workflow_dispatch
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Install NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 24
      - name: Install dependencies
        run: pnpm ci
      - name: Run lint
        run: pnpm run lint
      - name: Run tests
        run: npm run test
      - name: Deploy
        run: echo "Deploying...."
  info:
    runs-on: ubuntu-latest
    steps:
      - name: Pretty print issue
        run: |
          echo "${{ toJson(github.event.issue) }}| | jq
