name: first_workflow
on: workflow_dispatch
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Install NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Run lint
        run: pnpm run lint
      - name: Run tests
        run: npm run test
      - name: Run build
        run: npm run build
      - name: Deploy
        run: echo "Deploying...."
  info:
    runs-on: ubuntu-latest
    steps:
      - name: Pretty print issue
        run: echo '${{ toJson(github) }}'
